/*------------------------------  
           _           __                   ____    
    ____  (_)  _____  / /_  ______  ___    / __/____
   / __ \/ / |/_/ _ \/ / / / /_  / / _ \  / /_/ ___/
  / /_/ / />  </  __/ / /_/ / / /_/  __/ / __/ /    
 / .___/_/_/|_|\___/_/\__, / /___/\___(_)_/ /_/     
/_/                  /____/                         

------------------------------*/

@import "compass";					// Compass
@import "vendor/normalize";			// Reset CSS
@import "ui/color";					// Google Color Palette
@import "base/skeleton";			// Skeleton is a lightweight CSS framework
//@import "base/custom";				// Custom CSS

section {
	text-align:center;
	margin-bottom:15px;
}

h1 {margin:0; padding:20px 0}

.wireframe-nav {
	padding:10px 0;
}

.nav {
	text-align:center;
}


.pad-bottom {
	padding-bottom:30px;
}

/* Bigger than 550 */
@media (min-width: 550px) {

}

/* Bigger than 750 */
@media (min-width: 750px) {

}

/* Bigger than 1000 */
@media (min-width: 1000px) {

}
