@mixin arrow { // example:after
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #3f51b5;
  border-width: 35px;
  margin-left: -35px;
}

/* Global
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.home {
  padding:15px 0;
  position:relative;
}

.skills {
  padding:70px 0;
}

.first {
  margin-bottom:30px;
}
.works .description {
  position:relative;
  display: block;
  padding:20px;
  margin-left:0px;
   //@include border-radius(15px);
}

.description {
  //margin-left:0px;
}
ul li {margin-bottom:0;}
footer {
  padding-top:2.5rem;
}

img {display:block;}

.arrow:after {@include arrow;}


$color: #C9353B;
$contrast: #fff;
$transition-duration: 0.5s;

html {background-color: $color;}

.open-close-button {
  display: inline-block;
  width: 2em;
  height: 2em;
  border: 0.1em solid $contrast;
  margin: 2em 45%;
  font-size: 3em;
  border-radius: 50%;
  position: relative;
  @include transition($transition-duration);
  @include translateZ(0); // Force 3D context.
  
  &:before {
    content: "";
    display: block;
    position: absolute;
    background-color: $contrast;
    width: 80%;
    height: 6%;;
    left: 10%;
    top: 47%;
  }
  
  &:after {
    content: "";
    display: block;
    position: absolute;
    background-color: $contrast;
    width: 6%;
    height: 80%;
    left: 47%;
    top: 10%;
  }
  
  &.open {
    background-color: $contrast;
    &:after {
      background-color: $color;
    }
    &:before {
      background-color: $color;
    }
    @include rotate(225deg);  
  }  
}

.expanded.expander{

    background-color: $contrast;
    &:after {
      background-color: #000
    }
    &:before {
      background-color: #000;
    }
    @include rotate(225deg);  
  } 

.expander {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 4px solid #000;
  //margin: 2em 45%;
  font-size: 3em;
  border-radius: 50%;
  position: relative;
  @include transition($transition-duration);
  @include translateZ(0); // Force 3D context.
  position:absolute;
  top:5;
  right:5px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #000;
    width: 80%;
    height: 6%;;
    left: 10%;
    top: 47%;
  }
  
  &:after {
    content: "";
    display: block;
    position: absolute;
    background-color: #000;
    width: 6%;
    height: 80%;
    left: 47%;
    top: 10%;
  }
}

/* Social
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.socials {
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
  i {
    width: 1.7em;
    height: 1.7em;
    line-height: 1.7em;
    border: 2px solid #fff;
    color:#fff;
    text-align:center;
    @include border-radius(50%, 50%);
  }
}


/* Skills
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.uxdesign {
  margin-bottom: 30px;
}
.uxdesign img {
  margin-bottom: 30px;
}

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  @include border-radius(100px);
}

.txt-light {
  font-weight: 400;
}

.txt-xlight {
  font-weight: 200;
}

/* Plus grand que 550 */
@media (min-width: 550px) {
  .first {
    margin-bottom:0px;
  }
  .home, .skills, .quote, .works {
    padding:170px 0;
  }
    .uxdesign img {
    margin-bottom: 0;
  }
}

/* Plus grand que 750 */
@media (min-width: 750px) {
  .socials {
      padding-top:15px;
  }
}

/* Plus grand que 1000 */
@media (min-width: 1000px) {
  body {
    font-size: 1.8em;
  }
  .uxdesign {
    margin-bottom: 100px;
  }

}