
/* Global
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.home {
  padding:15px 0;
}

.skills{
  padding:70px 0;
}

.first {
  margin-bottom:30px;
}

footer {
  padding-top:2.5rem;
}

/* Social
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.socials {
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
  i {
    width: 1.7em;
    height: 1.7em;
    line-height: 1.7em;
    border: 2px solid #fff;
    color:#fff;
    text-align:center;
    @include border-radius(50%, 50%);
  }
}


/* Skills
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.uxdesign, .uxdesign img {
  margin-bottom: 30px;
}

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  @include border-radius(100px);
}

.txt-light {
  font-weight: 400;
}

.txt-xlight {
  font-weight: 200;
}

/* Plus grand que 550 */
@media (min-width: 550px) {
  .first {
    margin-bottom:0px;
  }
  .home, .skills {
    padding:170px 0;
  }
}

/* Plus grand que 750 */
@media (min-width: 750px) {
  .socials {
      padding-top:15px;
  }
}

/* Plus grand que 1000 */
@media (min-width: 1000px) {
  body {
    font-size: 1.8em;
  }
    .uxdesign img {
    margin-bottom: 0;
  }

}