
section {
  padding:130px 0;
}

footer {
  padding-top:2.5rem;
}

.home {
  h5 {
    font-size: 2.1rem; line-height: 1.0;
    font-weight: 400;
    font-family: $font-family;
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}

.first {
  padding-bottom:30px;
}

/* Social icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.social {
  width: 1.7em;
  height: 1.7em;
  line-height: 1.7em;
  border: 3px solid #fff;
  color:#fff;
  text-align:center;
  @include border-radius(50%, 50%);
}

/* Skills
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.uxdesign, .uxdesign-img {
  margin-bottom: 2.5rem;
}

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  @include border-radius(100px);
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .first {
    padding-bottom:0px;
  }
  section {
    padding:170px 0;
  }
  .social {
    width: 1.7em;
    height: 1.7em;
    line-height: 1.7em;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .social {
    width: 1.7em;
    height: 1.7em;
    line-height: 1.7em;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  body {
    font-size: 1.8em;
  }
    .uxdesign-img {
    margin-bottom: 0;
  }
  .social {
    width: 2em;
    height: 2em;
    line-height: 2em;
  }

  .home {
    h5 {
      font-size: 2.3rem; line-height: 1.0;
    }
  }
}